In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
healthy_lifestyle=pd.read_csv('healthy_lifestyle_city_2021.csv')

In [4]:
print(healthy_lifestyle.head())

         City  Rank Sunshine hours(City) Cost of a bottle of water(City)  \
0   Amsterdam     1                 1858                           £1.92
1      Sydney     2                 2636                           £1.48
2      Vienna     3                 1884                           £1.94
3   Stockholm     4                 1821                           £1.72
4  Copenhagen     5                 1630                           £2.19

  Obesity levels(Country)  Life expectancy(years) (Country)  \
0                  20.40%                              81.2
1                  29.00%                              82.1
2                  20.10%                              81.0
3                  20.60%                              81.8
4                  19.70%                              79.8

  Pollution(Index score) (City) Annual avg. hours worked  \
0                         30.93                     1434
1                         26.86                     1712
2                         17.33                     1501
3                         19.63                     1452
4                         21.24                     1380

   Happiness levels(Country)  Outdoor activities(City)  \
0                       7.44                       422
1                       7.22                       406
2                       7.29                       132
3                       7.35                       129
4                       7.64                       154

   Number of take out places(City) Cost of a monthly gym membership(City)
0                             1048                                 £34.90
1                             1103                                 £41.66
2                             1008                                 £25.74
3                              598                                 £37.31
4                              523                                 £32.53

In [6]:
print(healthy_lifestyle.shape)

(44, 12)

In [7]:
missing_values_count = healthy_lifestyle.isnull().sum()

In [8]:
print(missing_values_count)

City                                      0
Rank                                      0
Sunshine hours(City)                      0
Cost of a bottle of water(City)           0
Obesity levels(Country)                   0
Life expectancy(years) (Country)          0
Pollution(Index score) (City)             0
Annual avg. hours worked                  0
Happiness levels(Country)                 0
Outdoor activities(City)                  0
Number of take out places(City)           0
Cost of a monthly gym membership(City)    0
dtype: int64

In [10]:
print(missing_values_count[0:5])

City                               0
Rank                               0
Sunshine hours(City)               0
Cost of a bottle of water(City)    0
Obesity levels(Country)            0
dtype: int64